<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Express and EJS Starter</title>
</head>
<body class="container">
  <main>
    <h1><%= data.title %></h1>
  </main>
</body>
</html>
